@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
}

#app {
  display: grid;
  height: 100%;
  place-items: center;
  width: 100%;
  padding: 20px;
  color: white;
}

.card {
  position: relative;
  width: 335px;
  background-color: hsl(217, 19%, 24%);
  padding: 20px;
  display: grid;
  gap: 15px;
  justify-items: center;
  border-radius: 10px;
}

.card .number {
  font-size: 1rem;
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
  margin: 15px 0px;
}

.card .advice {
  color: hsl(193, 38%, 86%);
  font-size: 2.4rem;
  text-align: center;
}

.card .divider {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.card .divider div{
  z-index: 1;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid hsl(217, 19%, 38%);
  top: 50%;
}


.card .divider img {
  z-index: 2;
  background-color: hsl(217, 19%, 24%);
  padding: 10px 20px;
}


.card .random-tip {
  position: absolute;
  z-index: 3;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color:  hsl(150, 100%, 66%);
  display: grid;
  place-items: center;
  bottom: -40px;
}

.card .random-tip:hover {
  box-shadow: 0 0 20px 5px rgba(82, 255, 168, 0.82);
}


@media (min-width: 1200px) {
  .card {
    width: 480px;
    padding: 40px;
  }

  .card .number {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
  }

  .card .divider {
    margin-bottom: 20px;
  }
}